.icon {
  color: red;
}

.icon {
  color: white;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  grid-gap: 10px;
}

.grid .box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: tomato;
  font-size: 3rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body {
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: WHITE;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 10px 20px;
  margin: 20px;
  border: none;
  border-radius: 10px;
  background-color: green;
  color: white;
  width: 16vw;
}
.winMsg {
  margin: 20px;
}
.chance{
    margin: 20px;
}